@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variaveis */
:root {
	--primary: #334155;
	--secondary: #2c2d2e;

	--link: #107fd2;

	--background-card: #fff;
	--background-badge: #e6eef5;
	--background-body: #f2f5f9;

	--shadow-image: rgba(17, 17, 26, 0.5) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
	--shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.6) 0px 1px 2px 0px;
}
body {
	background-color: var(--background-body);
	color: var(--primary);

	font: 400 16px 'Inter', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.app {
	display: grid;
	grid-template-columns: 460px 1fr;
	gap: 48px;

	width: 100%;
	max-width: 1260px;
	padding: 0 24px;

	margin: 160px auto 100px;
}

.project_content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 42px;
	margin-top: 16px;
}

.tag {
	font-size: 15px;
	font-weight: 300;
	color: var(--secondary);
	padding: 5px 9px;
	border-radius: 5px;
	background: #dce775;
}

.card {
	border-radius: 12px;
	background-color: var(--background-card);
	box-shadow: var(--shadow-card);
}

.shadow_img {
	box-shadow: var(--shadow-image);
}

.button {
	--bg: #000;
	--hover-bg: #ff90e8;
	--hover-text: #000;
	color: #fff;
	border: 1px solid var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg);
	transition: 0.2s;
}

.button:hover {
	color: var(--hover-text);
	transform: translate(-0.25rem, -0.25rem);
	background: var(--hover-bg);
	box-shadow: 0.25rem 0.25rem var(--bg);
}

.buttonCV {
	--color: #560bad;
	font-family: inherit;
	display: flex;
	align-items: center;
	line-height: 2.5em;
	margin: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--color);
	transition: color 0.5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--color);
}

.buttonCV:before {
	content: '';
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 150px;
	width: 200px;
	border-radius: 50%;
}

.buttonCV:hover {
	color: #fff;
}

.buttonCV:before {
	top: 100%;
	left: 100%;
	transition: all 0.7s;
}

.buttonCV:hover:before {
	top: -30px;
	left: -30px;
}

.buttonCV:active:before {
	background: #3a0ca3;
	transition: background 0s;
}
